
//GENERAL CSS

*{
  outline:none !important;
}

body{
  background-image: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%) !important;
}

h1{
  font-size:25px;
}

a{
  color:#000;
  text-decoration:none;
}