.pokemons-container {
    .box {
        border: 1px solid #ebebeb;
        display: inline-block;
        width: 30%;
        margin: 1.5%;
        h1 {
            margin-left: 10px;
            color: #fff;
        }
    }

    h2 {
        color: #fff !important;
        text-align: center !important;
    }
}
